.projects {
    padding: 100px 0 100px 0;
    background-color: #34547A;
}

.projects__wrapper-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.wrapper__card {
    display: flex;
    color: #fff;

}

.wrapper__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
}

.projects__title {
    font-size: 21px;
}

@media (max-width:920px) {
    .projects__wrapper-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        row-gap: 50px;
    }
}

@media (max-width:550px) {

    .wrapper__content {
        display: flex;
        flex-direction: column;
        gap: 9px;
        padding-left: 10px;
    }

    .project-icon {
        width: 40px;
        height: 40px;
    }

    .projects__title {
        font-size: 16px;
    }

    .project__desc {
        font-size: 15px;
    }
}

@media (max-width:400px){
    .projects__wrapper-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        row-gap: 50px;
    }
}